<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!--<h1>
    Welcome to {{title}}!
  </h1>
  <h2>
    {{subtitle}}
  </h2>-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
      <li routerLink="/calculadora" class="btn btn-default">Calculadora</li>
      <li routerLink="/alumno" class="btn btn-default">Alumno</li>
      <li routerLink="/agregar-alumno" class="btn btn-default">Agregar Alumno</li>
      <li routerLink="/product" class="btn btn-default">Product</li>
      <li routerLink="/musica" class="btn btn-default">Musica</li>
    </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
 </div>


