<div class="container">
    <h1>Formulario Alumno</h1>
    <form #alumnoForm = "ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre"
          [(ngModel)]="alumno.nombre" required name="nombre" #nombre="ngModel">
      </div>

      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
      class="alert alert-danger">
        <div *ngIf="nombre.errors.required">
          El Nombre es obligatorio.
        </div>
      </div>

      <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" id="apellidos"
            [(ngModel)]="alumno.apellidos" required name="apellidos"  #apellidos="ngModel">
        </div>


      <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"
      class="alert alert-danger">
        <div *ngIf="apellidos.errors.required">
          El apellido es obligatorio.
        </div>
      </div>


        <div class="form-group">
            <label for="dni">Dni</label>
            <input type="text" class="form-control" id="dni"
              [(ngModel)]="alumno.dni" required name="dni" #dni="ngModel">
          </div>

          <div *ngIf="dni.invalid && (dni.dirty || dni.touched)"
          class="alert alert-danger">
            <div *ngIf="dni.errors.required">
              El DNI es obligatorio.
            </div>
          </div>

          <div class="form-group text-center">
            <div class="input-group" style="margin:auto;">
              <button type="button" (click)="add();" class="btn"> Submit </button>
              </div>
            </div>
    </form>
</div>